.DS_Store
node_modules
/dist/.


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
dist/404.html
dist/css/app.a38cbc3b.css
dist/css/app.eb123902.css
dist/img/Arancha.ba6f1804.png
dist/img/berglind.29944f21.jpg
dist/img/jon.094b63ad.jpg
dist/index.html
dist/js/app.cd9fe8b6.js
dist/js/app.cd9fe8b6.js.map
dist/js/app.f38bd581.js
dist/js/chunk-vendors.2022df36.js
dist/js/chunk-vendors.2022df36.js.map
dist/js/chunk-vendors.90d3d99b.js
dist/css/app.a38cbc3b.css
dist/index.html
dist/js/app.f38bd581.js
dist/js/chunk-vendors.2022df36.js
dist/js/chunk-vendors.2022df36.js.map
dist/js/chunk-vendors.90d3d99b.js.map
dist/css/app.a38cbc3b.css
dist/index.html
dist/js/app.f38bd581.js
dist/js/chunk-vendors.2022df36.js
dist/js/chunk-vendors.2022df36.js.map
